{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1>Welcome to Sell</h1>
    <form action="{{ url_for('sell') }}" method="post">
        <fieldset>
            <div class="form-group">
                {% for i in range(length) %}
                <input autocomplete="off" name="ticker" value="{{tickers[i]['ticker']}}" type="radio"> {{tickers[i]['ticker']}} total shares: {{shares[i]}}<br>
                {% endfor %}
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="Quantity to Sell" type="text"/>
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
